<!-- ========== NAVBAR ========== -->
<!-- Bootstrap with responsive Navbar   -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" style="background-color: #E9FF70 !important;">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="static/img/mp8.png" alt="MadePetal Logo" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item px-2 d-flex align-items-center">
                    <a class="nav-link active fw-medium text-dark" href="./index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu" style="background-color: #E9FF70;">
                        <li><a class="dropdown-item" href="beauty_cosmetics.html">BEAUTY & COSMETIC</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="spa_massage.html">SPA & MASSAGE</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="wellness.html">WELLNESS & HOLISTIC SERVICES</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="advanced.html">ADVANCED AESTHETICS</a></li>
                    </ul>
                </li>

                <li class="nav-item px-2 d-flex align-items-center">
                    <a class="nav-link fw-medium text-dark" href="./product.html">Products</a>
                </li>
                <li class="nav-item px-2 d-flex align-items-center">
                    <a class="nav-link fw-medium text-dark" href="./gallery.html">Gallery</a>
                </li>
                <li class="nav-item px-2 d-flex align-items-center">
                    <a class="nav-link fw-medium text-dark" href="./blog.html">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Clients
                    </a>
                    <ul class="dropdown-menu" style="background-color: #E9FF70;">
                        <li><a class="dropdown-item" href="prices.html">PRICE LIST</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="client-intake.html">CLIENT INTAKE</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="consent.html">CONSENT & APPROVAL</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="terms-of-service.html">TERMS OF SERVICE</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="privacy-policy.html">PRIVACY-POLICY</a></li>
                    </ul>
                </li>
                <li class="nav-item px-2 d-flex align-items-center">
                    <a class="nav-link fw-medium text-dark" href="./contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>